
fastapi
uvicorn
python-multipart
aiofiles
demucs

librosa
pydub
soundfile
noisereduce

numpy          
scipy
pandas

pretty_midi
mido

torch
torchaudio

tensorflow-macos
tensorflow-metal

typing-extensions

melon-chart.py
